h1{
  font-family: fantasy;
  font-size: 35pt;
  background-color: #f9ba95;
  color: #bc6e49;
  display: inline-block;
  animation-timing-function: linear;
  animation-name: crazymargin;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  z-index:1px;
}

h2{
  font-family: cursive;
  font-size: 25pt;
  animation-timing-function: cubic-bezier();
  animation-name: tom;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  z-index:1px;
}

h4{
  font-family: cursive;
  font-size: 25pt;
  animation-timing-function: cubic-bezier();
  animation-name: tomx;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

h5{
  animation-timing-function: cubic-bezier();
  animation-name: list;
  animation-duration: 15s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  font-size: 30pt;
}

h3{
  font-family: cursive;
  font-size: 25pt;
  animation-timing-function: cubic-bezier();
  animation-name: tom;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

ul {
               font-size: 30px;
               font-style: bold, italic;
               font-family: inherit;
               margin:75px;
               padding:-125px;
               text-align: justify;
               list-style-image:: url('loader.gif');

           }
           ul  li {
               padding: 0px 0px;
           }

 .home {
             position: fixed;
             top: 25px;
             left: 25px;
             z-index: 10px;
             padding-bottom: 25px;
           }

.swing
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: infinite;
        animation-timing-function:cubic-bezier();
        width: 220px;
        height: 55px;
        position: absolute;
        top: 550px;
        left: 900px;
        opacity: 45%;
        font-family: fantasy;
        font-weight: bolder;
        font-size: 35pt;
        background-color: #f9ff91;
        color: #ffbb00;
}

body {
  width: 100%;
  height: 2000px;
  margin: 0;
  padding: 0;
  cursor: url('jackson.gif'), default;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 12px dashed #fce25f;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}


html {
    background: url(mosaic4.jpg);
    background-size: cover;
    opacity: 30%
  }

@keyframes crazymargin {
  from{
    margin-left: 0px;
  }

20% {
  opacity: 50;
}

50%{
  transform: rotate(-5deg);
  background-color: #fff3c1;
}
}

@keyframes paragraph {
  from{
    margin-left: 0px;
  }

50%{
  transform: rotate(2deg);;
}
}

@keyframes tom {
  to{
    margin-right: 5px
  }

  from{
    margin-left: 5px;
  }

20% {
  opacity: 25;
}

50%{
  transform: rotate(2deg);
}
}

@keyframes tomx {
  to{
    margin-right: 5px
  }

  from{
    margin-left: 5px;
  }

20% {
  opacity: 25;
}

50%{
  transform: rotate(-2deg);
}
}

@keyframes list {
50%{
  transform: rotate(1deg);
}
}

@keyframes toms {
  to{
    margin-right: 52px
  }

  from{
    margin-left: 52px;
  }

20% {
  opacity: 50;
}

50%{
  transform: rotate(5deg);
}
}



#man {
  position: absolute;
  top:400px;
  left:800px;
  animation-name: man;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes man {
  to{
    right:400px;
    top:500px;
    opacity:0;
  }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
